* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ff00a2;
}

::selection {
  color: white;
  background: #ff00a2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

.main {
  background-color: black;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url('/image.png');
}

.main_icon {
  overflow: auto;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  max-width: calc(0.6 * 100vw);
  transition: 250ms ease-in-out;

  /* BACKGROUND COLOR */

  /* BOX SHADOW */
  -webkit-box-shadow: -15px 20px 26px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 20px 26px -11px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 20px 26px -11px rgba(0, 0, 0, 0.75);
}

.main_icon.closed {
  border-radius: 100px;
  height: 70px;
  width: 70px;
  background-color: #b4ffa8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_icon.nudging {
  border-radius: 8px;
  color: #1b651e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.408px;
  background-color: #dcffd7;
  text-align: center;
  height: 70px;
  display: flex;
  width: 427px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.main_icon.closed:hover,
.main_icon.nudging {
  cursor: pointer;
}

.main_icon.open {
  border-radius: 8px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  background: #222222;
}

.main .main_icon > .header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #222222a4;
  padding: 24px 24px 0 24px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

/* TOP ROW 'SET UP YOUR BRAND' */

.top_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top_row > h2 {
  font-size: 24px;
  color: #ebebeb;
}

.top_row > button {
  background-color: transparent;
  color: #ebebeb;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 0;
}

.top_row > button:hover {
  cursor: pointer;
}

/* TAB BUTTON ROW */

.tab_row {
  display: flex;
}

.tab_button {
  color: #ebebeb;
  opacity: 60%;
  margin: 20px 12.5px 20px 12.5px;
  font-size: 18px;
  font-weight: 300;

  padding: 8px;
  transition: 150ms;
}

.tab_button:hover {
  cursor: pointer;
  background-color: #00000042;
  border-radius: 8px;
  border: 0;
}

.tab_button:first-of-type {
  margin: 20px 12.5px 20px 0px;
}

.tab_active {
  color: #00bdb4 !important;
  opacity: 100%;
  font-weight: 500;
  border-bottom: 2px solid #00bdb4;
}

/* BODY */

.body {
  margin: 12px 24px;
}

/* STYLING TAB */

.styling_tab_main > div {
  margin-bottom: 40px;
}

.label_text {
  font-size: 16px;
  color: #d29999;
  margin-bottom: 14px;
}

.text_input {
  width: 100%;
  background-color: #333333;
  border-radius: 8px;
  border: 1px solid #00000033;
  padding: 12px 8px;
  outline: none;
  color: rgba(255, 255, 255, 0.766);
}

.text_input:focus {
  border: 1px solid #9090909f;
  color: white;
}

.upload_placeholder {
  border: 1px dashed #99999980;
  padding: 28px 22%;
  text-align: center;
  border-radius: 8px;
}

.upload_placeholder > .file_upload {
  margin-bottom: 13px;
}

.upload_placeholder > h3 {
  margin-bottom: 8px;
}
.upload_placeholder > p {
  margin-bottom: 28px;
  line-height: 24px;
  font-size: 14px;

  color: var(--text-subtext, #ebebeb);
}

.upload_placeholder > button {
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background: #2b2a2a;
  color: white;
}

.color_buttons_row {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
  padding-bottom: 25px;
}

.color_buttons {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background: var(--input-bg, #333);
  display: flex;
  flex-direction: column;
  transition: 150ms;
  justify-content: center;
  align-items: center;
}

.color_buttons:hover {
  cursor: pointer;
  background-color: #00000026;
  border-radius: 8px;
  border: 0;
}

.color_buttons > p {
  color: #ffffff48;
  margin-top: 8px;
}

.footer {
  position: sticky;
  bottom: 10px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  align-self: stretch;
}

.about_brand {
  height: 300px;
  text-align: start;
  resize: none;
}

.footer > button {
  display: flex;
  width: 248px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 8px;
  border-radius: 8px;
  background: #ffd0c5;
  transition: 150ms;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.2) inset,
    0px 2px 2px 0px rgba(255, 255, 255, 0.2) inset,
    0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.footer > button:hover {
  cursor: pointer;
  background: #fc856a;
  border-radius: 8px;
  color: white;
  border: 0;
}

.chicklets_flex {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}

.chicklet {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: #444;
  font-size: 14px;
  border: 1px solid #ba263000;
}

.chicklets_flex > .selected {
  border: 1px solid #ba2631;
  background: #ec5c67;
}

.chicklet:hover {
  cursor: pointer;
  opacity: 80%;
}

/* Animated Gradient */
.test {
  width: 100wh;
  height: 100vh;
  color: #fff;
  transition: 250ms ease-in-out;
  position: fixed;
  border-radius: 250px;
  border-bottom-right-radius: 0;
  bottom: 0px;
  right: 0px;

  background: linear-gradient(
    -45deg,
    #f3593345,
    #23a5d530,
    #e9009442,
    #23d5ab2d
  );
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
